.trading-floor-page {
  width: 100%;
  height: 100vh;
}

.trading-floor-my-items-container {
  display: flex;
  flex-direction: column;
  height: 100vw;
  width: 100%;
  background-color: #d6d4d4;
  padding: 0.5vw;
}

.trading-floor-proposed-items-container {
  height: 100vw;
  width: 100%;
  background-color: #d6d4d4;
}
.trading-floor-wanted-item-container {
  height: 100vw;
  width: 100%;
  background-color: #d6d4d4;
}
.trading-floor-sneakerThumb {
  /* display: flex;
  flex-direction: column; */
  height: 23vw;
  width: 100%;
}
